<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head runat='server'>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title></title>
    <link crossorigin='anonymous' integrity='sha512-WYzwsHxfl8+qirF4V9ZyFULDBwxvm1kuCHlSd1F57JwALyQMxeq7j1blj4Y7pmP9r0tVMk7GYUI5xLDB7QIZCA==' href='https://lib.baomitu.com/element-ui/2.15.3/theme-chalk/index.min.css' rel='stylesheet'>
    <style>
        .el-table thead, .el-table {
            color: #333;
        }

        .el-header {
            padding: 0 0px;
        }

        .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
            margin-bottom: 10px;
        }

        .el-dialog__header {
            border-bottom: 1px solid #ebebeb;
            background-color: #F8F8F8;
        }

        .el-card__body {
            padding: 10px;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id='app' v-cloak>
        <el-container v-loading.fullscreen.lock='fullscreenLoading'>
            <el-header style='height:auto'>
                <el-form :inline='true' @@keyup.enter.native='getTableList'>
                    <el-form-item label=''>
                        <el-date-picker value-format='yyyy-MM-dd' v-model='x_ProductPromotionQuery.StartDate' unlink-panels type='daterange' range-separator='至' start-placeholder='开始日期' end-placeholder='结束日期' :picker-options='pickerOptions'>
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label=''>
                        <el-input placeholder='促销价' v-model='x_ProductPromotionQuery.PromotionPrice'></el-input>
                    </el-form-item>
                    <el-form-item label=''>
                        <el-input placeholder='BID' v-model='x_ProductPromotionQuery.BID'></el-input>
                    </el-form-item>
                    <el-form-item label=''>
                        <el-select v-model='x_ProductPromotionQuery.Plateform' placeholder='平台' clearable>
                            <el-option v-for='(item,index) in x_ProductPromotionQueryPlateformOptions' :key='index' :label='item' :value='item'> </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label=''>
                        <el-select v-model='x_ProductPromotionQuery.CountryCode' placeholder='国家' clearable>
                            <el-option v-for='(item,index) in x_ProductPromotionQueryCountryCodeOptions' :key='index' :label='item' :value='item'> </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label=''>
                        <el-select v-model='x_ProductPromotionQuery.ShopID' placeholder='店铺名称' clearable>
                            <el-option v-for='(item,index) in x_ProductPromotionQueryShopIDOptions' :key='index' :label='item' :value='item'> </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label=''>
                        <el-input placeholder='描述' v-model='x_ProductPromotionQuery.Description'></el-input>
                    </el-form-item>
                    <el-form-item label=''>
                        <el-input placeholder='创建人' v-model='x_ProductPromotionQuery.CreateUserId'></el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-button size='small' type='primary' icon='el-icon-search' @@click='getTableList'>查询</el-button>
                    </el-form-item>
                </el-form>
            </el-header>
            <el-row :gutter='10' style='margin-left:0px'>
                <el-button-group>
                    <el-button type='primary' @@click='showAddx_ProductPromotionLayer=true' icon='el-icon-plus'>新增</el-button>
                </el-button-group>
            </el-row>
            <el-card class='box-card' style='margin-top:10px'>
                <template>
                    <el-table :data='x_ProductPromotionTable.data' v-loading='x_ProductPromotionTableLoading' style='width: 100%' border element-loading-background='rgba(255, 255, 255, 1)' :header-cell-style='{background:"#eef1f6",color:"#606266"}' element-loading-text='Loading' element-loading-spinner='el-icon-loading'>
                        <el-table-column :show-overflow-tooltip='true' prop='PromotionPrice' label='促销价'></el-table-column>
                        <el-table-column :show-overflow-tooltip='true' prop='BID' label='BID'></el-table-column>
                        <el-table-column :show-overflow-tooltip='true' prop='Plateform' label='平台'></el-table-column>
                        <el-table-column :show-overflow-tooltip='true' prop='CountryCode' label='国家'></el-table-column>
                        <el-table-column :show-overflow-tooltip='true' prop='ShopID' label='店铺名称'></el-table-column>
                        <el-table-column :show-overflow-tooltip='true' prop='Description' label='描述'></el-table-column>
                        <el-table-column :show-overflow-tooltip='true' prop='Quantity' label='数量'></el-table-column>
                        <el-table-column :show-overflow-tooltip='true' prop='ModifyTime' label='ModifyTime'></el-table-column>
                        <el-table-column :show-overflow-tooltip='true' prop='CreateUserId' label='创建人'></el-table-column>

                        <el-table-column fixed='right' show-summary width='240' label='操作' style='margin:5px'>
                            <template slot-scope='scope'>
                                <el-tooltip class='item' effect='dark' content='编辑' placement='top-end'>
                                    <el-button size='mini' type='success' @@click='editx_ProductPromotion(scope.row)'><i class='el-icon-edit-outline'></i></el-button>
                                </el-tooltip>
                                <el-tooltip class='item' effect='dark' content='删除' placement='top-end'>
                                    <el-button size='mini' type='danger' @@click='deletex_ProductPromotion(scope.row)'><i class='el-icon-delete'></i></el-button>
                                </el-tooltip>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination style='margin-top:10px' :page-size='x_ProductPromotionQuery.pageSize' @@current-change='handleCurrentChange' :current-page.sync='x_ProductPromotionQuery.pageIndex' background layout='total,prev, pager, next' :total='x_ProductPromotionTable.total'></el-pagination>
                </template>
            </el-card>
        </el-container>
        <div>
            <el-dialog title='编辑或新增' :visible.sync='showAddx_ProductPromotionLayer'>
                <el-form label-width='80px' :inline='false' :model='x_ProductPromotionRequest' ref='addx_ProductPromotionLayer'>
                    <el-form-item label='开始时间'>
                        <el-date-picker value-format='yyyy-MM-dd' v-model='x_ProductPromotionRequest.StartDate' unlink-panels type='daterange' range-separator='至' start-placeholder='开始日期' end-placeholder='结束日期' :picker-options='pickerOptions'>
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label='促销价'>
                        <el-input placeholder='促销价' v-model='x_ProductPromotionRequest.PromotionPrice'></el-input>
                    </el-form-item>
                    <el-form-item label='BID'>
                        <el-input placeholder='BID' v-model='x_ProductPromotionRequest.BID'></el-input>
                    </el-form-item>
                    <el-form-item label='平台'>
                        <el-select v-model='x_ProductPromotionRequest.Plateform' placeholder='平台' clearable>
                            <el-option v-for='(item,index) in x_ProductPromotionQueryPlateformOptions' :key='index' :label='item' :value='item'> </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label='国家'>
                        <el-select v-model='x_ProductPromotionRequest.CountryCode' placeholder='国家' clearable>
                            <el-option v-for='(item,index) in x_ProductPromotionQueryCountryCodeOptions' :key='index' :label='item' :value='item'> </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label='店铺名称'>
                        <el-select v-model='x_ProductPromotionRequest.ShopID' placeholder='店铺名称' clearable>
                            <el-option v-for='(item,index) in x_ProductPromotionQueryShopIDOptions' :key='index' :label='item' :value='item'> </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label='描述'>
                        <el-input placeholder='描述' v-model='x_ProductPromotionRequest.Description'></el-input>
                    </el-form-item>
                    <el-form-item label='数量'>
                        <el-input placeholder='数量' v-model='x_ProductPromotionRequest.Quantity'></el-input>
                    </el-form-item>
                    <el-form-item label='ModifyTime'>
                        <el-input placeholder='ModifyTime' v-model='x_ProductPromotionRequest.ModifyTime'></el-input>
                    </el-form-item>
                    <el-form-item label='ModifyUserId'>
                        <el-input placeholder='ModifyUserId' v-model='x_ProductPromotionRequest.ModifyUserId'></el-input>
                    </el-form-item>
                    <el-form-item label='创建人'>
                        <el-input placeholder='创建人' v-model='x_ProductPromotionRequest.CreateUserId'></el-input>
                    </el-form-item>

                </el-form>
                <div slot='footer' class='dialog-footer'>
                    <el-button type='primary' @@click="submitAddx_ProductPromotionForm('addx_ProductPromotionLayer')">确 认</el-button>
                    <el-button @@click='closeAddx_ProductPromotionLayer'>取 消</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
    <script crossorigin='anonymous' integrity='sha512-pSyYzOKCLD2xoGM1GwkeHbdXgMRVsSqQaaUoHskx/HF09POwvow2VfVEdARIYwdeFLbu+2FCOTRYuiyeGxXkEg==' src='https://lib.baomitu.com/vue/2.6.14/vue.js'></script>
    <script crossorigin='anonymous' integrity='sha512-+mrl1yz9SfyUGXnOiA1ZinMC+NAtmqccFL49hjdNljqBYqopcgRO7LLRd+rK+kmc9+4FG75bBkEhjBaiV3jj8w==' src='https://lib.baomitu.com/element-ui/2.15.3/index.js'></script>
    <script crossorigin='anonymous' integrity='sha512-SzBVU+C0eJl+4BIg29X72SYgYNUI2bNVVUFfG9eg1g2jOMvBy3w2movesVS0u+IslOgFyRxuVrMrSHcnLPLN+Q==' src='https://lib.baomitu.com/vue-resource/1.5.3/vue-resource.min.js'></script>
    <script>
        Vue.prototype.$ELEMENT = { size: 'small', zIndex: 3000 };
        var ajax = Vue.http;
        var app = new Vue({
            el: '#app'
            , data: {
                fullscreenLoading: false,
                x_ProductPromotionTableLoading: false,
                x_ProductPromotionTable: {
                    data: [],
                    total: 1
                },
                x_ProductPromotionQuery: {
                    EAN: '',
                    StartDate: '',
                    PromotionPrice: '',
                    BID: '',
                    Plateform: '',
                    CountryCode: '',
                    ShopID: '',
                    Description: '',
                    CreateUserId: '',
                    pageIndex: 1, pageSize: 10
                },
                x_ProductPromotionRequest: {
                    MarketPlaceID: '',
                    EAN: '',
                    StartDate: '',
                    PromotionPrice: '',
                    BID: '',
                    Plateform: '',
                    CountryCode: '',
                    ShopID: '',
                    Description: '',
                    Id: '',
                    Quantity: '',
                    ModifyTime: '',
                    ModifyUserId: '',
                    CreateUserId: '',

                },
                x_ProductPromotionQueryPlateformOptions: '', x_ProductPromotionQueryPlateformOptions: '', x_ProductPromotionQueryCountryCodeOptions: '', x_ProductPromotionQueryCountryCodeOptions: '', x_ProductPromotionQueryShopIDOptions: '', x_ProductPromotionQueryShopIDOptions: '',
                showAddx_ProductPromotionLayer: false,
                pickerOptions: {
                    shortcuts: [
                        {
                            text: '今天',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime());
                                picker.$emit('pick', [start, end]);
                            }
                        },
                        {
                            text: '最近一周',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', [start, end]);
                            }
                        }, {
                            text: '这个月',
                            onClick(picker) {
                                const end = new Date();
                                const start = new Date(new Date().getFullYear(), new Date().getMonth(), 1);
                                picker.$emit('pick', [start, end]);
                            }
                        },
                        {
                            text: '上一个月',
                            onClick(picker) {
                                const start = new Date(new Date().getFullYear(), new Date().getMonth() - 1, 1);
                                const end = new Date(new Date().getFullYear(), new Date().getMonth(), 1);
                                end.setDate(end.getDate() - 1);
                                picker.$emit('pick', [start, end]);
                            }
                        },
                        {
                            text: '今年',
                            onClick(picker) {
                                const start = new Date(new Date().getFullYear(), 0, 1);
                                const end = new Date();
                                picker.$emit('pick', [start, end]);
                            }
                        },
                    ]
                },
            }
            , mounted() {
                this.getTableList();
            }
            , methods: {
                handleCurrentChange(val) {
                    this.x_ProductPromotionQuery.pageIndex = val;
                    this.getTableList();
                },
                closeAddx_ProductPromotionLayer() {
                    this.x_ProductPromotionRequest.id = 0;
                    this.showAddx_ProductPromotionLayer = false;
                },
                deletex_ProductPromotion(row) {
                    this.$confirm('确认删除?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        ajax.post('/Home/Deletex_ProductPromotion', JSON.stringify(this.x_ProductPromotionRequest)).then((res) => {
                            this.x_ProductPromotionTableLoading = false;
                            if (res.bodyText.includes('Error')) {
                                console.log(res);
                                this.$message.error(res.bodyText);
                            }
                            else {
                                this.showAddx_ProductPromotionLayer = false;
                                this.$message({
                                    message: '成功',
                                    type: 'success'
                                });
                            }
                        }, (res) => {
                        });
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                editx_ProductPromotion(row) {
                    this.showAddx_ProductPromotionLayer = true;
                    this.x_ProductPromotionRequest.MarketPlaceID = row.MarketPlaceID;
                    this.x_ProductPromotionRequest.EAN = row.EAN;
                    this.x_ProductPromotionRequest.StartDate = row.StartDate;
                    this.x_ProductPromotionRequest.PromotionPrice = row.PromotionPrice;
                    this.x_ProductPromotionRequest.BID = row.BID;
                    this.x_ProductPromotionRequest.Plateform = row.Plateform;
                    this.x_ProductPromotionRequest.CountryCode = row.CountryCode;
                    this.x_ProductPromotionRequest.ShopID = row.ShopID;
                    this.x_ProductPromotionRequest.Description = row.Description;
                    this.x_ProductPromotionRequest.Id = row.Id;
                    this.x_ProductPromotionRequest.Quantity = row.Quantity;
                    this.x_ProductPromotionRequest.ModifyTime = row.ModifyTime;
                    this.x_ProductPromotionRequest.ModifyUserId = row.ModifyUserId;
                    this.x_ProductPromotionRequest.CreateUserId = row.CreateUserId;

                },
                submitAddx_ProductPromotionForm() {
                    ajax.post('/home/AddOrUpdatex_ProductPromotion', JSON.stringify(this.x_ProductPromotionRequest)).then((res) => {
                        this.x_ProductPromotionTableLoading = false;
                        if (res.bodyText.includes('Error')) {
                            console.log(res);
                            this.$message.error(res.bodyText);
                        }
                        else {
                            this.showAddx_ProductPromotionLayer = false;
                            this.$message({
                                message: '成功',
                                type: 'success'
                            });
                        }
                    }, (res) => {
                    });
                },
                getTableList() {
                    this.x_ProductPromotionTableLoading = true;
                    ajax.post('/home/Getx_ProductPromotionList', JSON.stringify(this.x_ProductPromotionQuery)).then((res) => {
                        this.x_ProductPromotionTableLoading = false;
                        if (res.bodyText.includes('Error')) {
                            console.log(res);
                            this.$message.error(res.bodyText);
                        }
                        else {
                            this.x_ProductPromotionTable.data = res.data.data;
                            this.x_ProductPromotionTable.total = res.data.count;
                        }
                        this.x_ProductPromotionTableLoading = false;
                    }, (res) => {
                    });
                }
            }
            , updated() {
            }
        });
    </script>
</body>
</html>
